In [2]:
# Importing all Dependencies 
import os
import pandas as pd
import csv

In [104]:
# formatting Season ID Column: 
f_path=os.path.join("NBA_Players_Stats.csv")
df=pd.read_csv(f_path)
df_SeasonID=df['SEASON_ID'].str.split('-', expand=True)
df_SeasonID=df_SeasonID[0].astype(float)
df_SeasonID+=1
df['SEASON_ID']=df_SeasonID
df['SEASON_ID'] = pd.to_datetime(df['SEASON_ID'], format='%Y')
df['SEASON_ID'] = df['SEASON_ID'].dt.year
# formatting Season ID Column: 
df.to_csv("NBA_Players_Stats_Updated.csv")

In [105]:
stats_df=df
# Exporting Historical ID:
f_path=os.path.join("Historical_CPI.csv")
Historical_CPI_df=pd.read_csv(f_path)
Historical_CPI_df=Historical_CPI_df[["Year","Ave."]]
Historical_CPI_df

     Year     Ave.
0    2020      NaN
1    2019  255.657
2    2018  251.107
3    2017  245.120
4    2016  240.008
..    ...      ...
103  1917   12.800
104  1916   10.900
105  1915   10.100
106  1914   10.000
107  1913    9.900

[108 rows x 2 columns]

In [112]:
merge_df=stats_df.merge(Historical_CPI_df, left_on='SEASON_ID', right_on='Year')
merge_df.loc[merge_df["SEASON_ID"]==2020]

,Unnamed: 0,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,TOV,PF,PTS,id,full_name,first_name,last_name,is_active,Year,Ave.
22321,162,203500,2020,0,1610612760,OKC,26.0,63,63.0,1681.0,...,94.0,122,684,203500,Steven Adams,Steven,Adams,True,2020,NaN
22322,171,1628389,2020,0,1610612748,MIA,22.0,72,72.0,2417.0,...,204.0,182,1146,1628389,Bam Adebayo,Bam,Adebayo,True,2020,NaN
22323,289,200746,2020,0,1610612759,SAS,34.0,53,53.0,1754.0,...,74.0,128,1001,200746,LaMarcus Aldridge,LaMarcus,Aldridge,True,2020,NaN
22324,311,1629734,2020,0,1610612748,MIA,23.0,2,0.0,13.0,...,1.0,1,2,1629734,Kyle Alexander,Kyle,Alexander,True,2020,NaN
22325,317,1629638,2020,0,1610612740,NOP,21.0,47,1.0,591.0,...,54.0,57,267,1629638,Nickeil Alexander-Walker,Nickeil,Alexander-Walker,True,2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22959,26904,1629027,2020,0,1610612737,ATL,21.0,60,60.0,2120.0,...,289.0,104,1778,1629027,Trae Young,Trae,Young,True,2020,NaN
22960,26924,203469,2020,0,1610612766,CHA,27.0,58,39.0,1341.0,...,75.0,140,642,203469,Cody Zeller,Cody,Zeller,True,2020,NaN
22961,26941,203092,2020,0,1610612759,SAS,30.0,2,0.0,4.0,...,0.0,0,2,203092,Tyler Zeller,Tyler,Zeller,False,2020,NaN
22962,26966,1627790,2020,0,1610612739,CLE,23.0,22,0.0,221.0,...,10.0,27,96,1627790,Ante Zizic,Ante,Zizic,True,2020,NaN
22963,26974,1627826,2020,0,1610612746,LAC,23.0,72,70.0,1326.0,...,61.0,168,596,1627826,Ivica Zubac,Ivica,Zubac,True,2020,NaN